importFrom("stats", "rnorm", "runif", "lm", "coef","rbinom")
importFrom("Matrix", "Matrix")
importFrom("biclust", "biclust", "bicluster", "BCBimax")
export(ate)
export(clique_test)
export(one_sided_test)
export(out_NEgraph)
export(out_Yobs)
export(out_Z)
export(out_clique)
export(out_clique_decomposition)
export(out_example_network)
export(out_pval)
export(sparsify)
export(two_sided_test)
