importFrom("stats", "rnorm", "runif", "lm", "coef","rbinom")
importFrom("Matrix", "Matrix")
importFrom("biclust", "biclust", "bicluster", "BCBimax", "biclusternumber")
importFrom("foreach", "%dopar%")
export(ate)
export(biclique.decompose)
export(clique_diagnostic)
export(clique_test)
export(clique_test_contrast)
export(gen_tstat)
export(one_sided_test)
export(out_NEgraph_contrast)
export(out_Yobs)
export(out_Z)
export(out_Z_household)
export(out_Zprime)
export(out_bassefeller)
export(out_clique)
export(out_clique_decomposition_bimax)
export(out_clique_decomposition_greedy)
export(out_example_network)
export(out_exp_ind)
export(out_greedy_decom)
export(out_house_structure)
export(out_pval)
export(out_treat_household)
export(sample_mod)
export(sparsify)
export(two_sided_test)
